body {
  font-family: Helvetica;
}

#header {
  margin-left: 10%;
}

h1 {
  color: #1B1851;
  font-size: 30px;
  font-weight: 600;
}

h2 {
  color: #1B1851;
  font-size: 20px;
}

#container {
  margin-left: 10%;
  width: 80%;
  display: inline-block;
  font-size: 15px;
  /*background-color: #e8e8e8;*/
}

.story {
  width: 80%;
  margin-left: 10%;
  background-color: #e8e8e8;
}

.imageblockL {
  float: left;
  width: 30%;
}

.textblockR {
  float: right;
  margin-left: 40%;
}



